<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>Table Layout 3</title>
    </head>
    <body>
        <table class="wrapper">
            <tr>
                <td>
                    <table class="header"></table>
            
                    <table class="content-section">
                        <tr>
                            <table>
                                <tr>
                                    <td>
                                        <table class="boxes"></table>
                                        <table class="boxes"></table>
                                        <table class="boxes"></table>
                                    </td>
                                </tr>
                            </table>
                        </tr>
                    </table>
                    
                    <table class="footer"></table>
                </td>
            </tr>
        </table>
    </body>
</html>